.top-header {
  background-color: #f2eee9;
  /* color: white; */
  width: 100%;
}

.logoImage {
  max-width: 100%;
  height: auto;
  width: auto\9;
  width: 158px;
  height: 45px;
  object-fit: contain;
}

.routeLinks {
  margin: 30px;
  font-size: 14px;
  font-family: "Regular";
  color: #1c1c1c;
  text-decoration: none;
}

.activeRouteLink {
  margin: 30px;
  font-size: 14px;
  font-family: "Bold";
  color: #1c1c1c;
  text-decoration: none;
}

.routeLinks:active {
  color: #3b9aa4;
}

.bookNowButton {
  background-color: #3b9aa4;
  border-radius: 90px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: "Regular";
  width: 100px;
  padding: 12px 0px;
  font-size: 14px;
  text-align: center;

  display: block;
}

@media (max-width: 768px) {
  .top-header {
    /* flex-direction: column; */
    padding: 10px;
  }

  .logo {
    margin: 0;
    margin-bottom: 10px;
  }

  .book-now {
    margin: 0;
  }
  .bookNowButton {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .bookNowButton {
    color: #ffffff;
    font-size: 11px;
    padding: 8px 2px;
  }
}
@media (min-width: 769px) and (max-width: 1140px) {
  .routeLinks {
    margin: 30px;
    font-size: 12px;
    font-family: "Regular";
    color: #1c1c1c;
    text-decoration: none;
    text-wrap: nowrap;
  }

  .activeRouteLink {
    margin: 30px;
    font-size: 14px;
    font-family: "Bold";
    color: #1c1c1c;
    text-decoration: none;
    text-wrap: nowrap;
  }
}
