.appBody {
  height: 100vh;
  /* border: 1px solid; */
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.regularFontFamily {
  font-family: "Regular";
}

.meduimFontFamily {
  font-family: "Medium";
}

.boldFontFamily {
  font-family: "Bold";
}

.semiBoldFontFamily {
  font-family: "SemiBold";
}

.extraBoldFontFamily {
  font-family: "ExtraBold";
}

.againstRegularFontFamily {
  font-family: "AgainstRegular";
}

.grayCustom {
  background-color: #f2eee9;
}

.hideScrollBar {
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hideScrollBar::-webkit-scrollbar {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1320px) and (min-width: 1025px) {
  .Workcard{
    width: 200px;
    padding-left: 0.5rem;

  }
}

@media screen and ( max-width: 1024px ) and ( min-width:700px ){
  .Workcard{
    width: 150px;
    padding-left: 0.5rem;

  }
  .ourOffers{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .firstCont{
    padding: 0px;
  }
}

@media screen and (max-width: 700px) {
  /* .Workcard{
    width: 200px;
    padding-left: 0.5rem;
  } */

  .workCardFlex{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .ourOffers{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .firstCont{
    padding: 0px;
  }
  .btns-cont  {
    font-size: small;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 4px;
  }
  .img-cont{
    width: 100%;
  }
  .flex-cont{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .flex-cont p{
    font-size: xx-large;
  }
  .card-cont{
    width: 360px;
  }
  .card-cont p{
    font-size: 12px;

  }
}
